{% extends 'recipes/base.html' %}
{% block content %}
<h1>Add Ingredients to {{ recipe.title }}</h1>
   <form action="{% url 'recipesCreateIngredient' pk=recipe.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Ingredient</button>
        <button type="submit" name="finish">Finish</button>
    </form>
    <div class="mt-2 ingredientsContainer">
        <h3>Ingredients added on {{ recipe.title }}</h3>
        <ul>
            {% for ingredient in ingredients %}
            	<li>
                    {{ ingredient.quantity }} of {{ ingredient.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}