{% extends 'recipes/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Add Ingredients to {{ recipe.title }}</h1>
    <div class="row">
        <div class="col-6 formPlace">
            <form action="{% url 'recipesCreateIngredient' pk=recipe.pk %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="mt-2 btn btn-primary" type="submit">Add Ingredient</button>
                <div class="mt-4">
                    <h5> click these when it is your last ingredient</h5>
                    <button class=" btn btn-success" type="submit" name="finish">Finish</button>
                </div>
            </form>
        </div>
    <div class="col-6 mt-2 ingredientsContainer">
        <h3>Ingredients added on {{ recipe.title }}</h3>
        <ul>
            {% for ingredient in ingredients %}
            	<li>
                    {{ ingredient.quantity }} of {{ ingredient.name }} <a class="btn btn-danger" style="font-size: 12px; margin-left: 25px" href={% url 'recipesDeleteIngredient' pk=ingredient.pk %}> Remove </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock content %}