{% extends "recipes/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="row">
    <div class="col-md-8">
	<div class="content-section">
        <div class="row media">
            <div class="col-auto profilePicture">
                <img class="img-fluid account-img" src="{{ user.profile.image.url }}" alt="ProfileImage" height="100px" width="100px"> <!--da sistemare con i file css-->
            </div>
            <div class="col align-items-center mediaBody">
                <h2 class="accountHeading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" ><!--important perché sennò non ti salva le immagini-->
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }} 
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group mt-2">
            <button class=" btn btn-primary " type="submit"> Update</button>
        </div>
    </form>
    </div>
    <div class="col-md-4 linkSection">
        <h2 class="headSection">USEFUL LINK</h2>
        <ul>
            <li>
                <a href={% url 'recipesCreate' %}><h4>Create Recipes</h4></a>
            </li>
            <li>
                <a href={% url 'myRecipes' %}><h4>See your recipes</h4></a>
            </li>
            <li>
                <a href={% url 'favourites' %}><h4>Recipes saved</h4></a>
            </li>
        </ul>
    </div>
    </div>
{% endblock %}